.about-us{
    margin: 1rem auto;
    width: 90%;
    background-color: white;
    border-radius: 7px;
    padding: 20px;
}

.about-us h2{
    text-align: center;
    padding: 10px;
}
.about-us p{
    text-align: justify;
    margin: 10px;
    text-indent: 30px;
}

@media only screen and (max-width: 600px) {
    .about-us{
        width: 97%;
        padding: 10px;
    }
}